{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended",
    "@unocss"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "parser": "@typescript-eslint/parser"
  },
  "rules": {
    "vue/multi-word-component-names": "off",
    "vue/script-setup-no-uses-vars": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "./server/**/*.ts"
      ],
      "rules": {
        "no-console": [
          "error",
          {
            "allow": [
              "info",
              "warn",
              "trace",
              "error"
            ]
          }
        ]
      }
    }
  ]
}