@font-face {
    font-family: "Satoshi";
    src: url("Satoshi-Variable.woff2");
    font-weight: 300 900;
    unicode-range: U+0020-007E, U+00A1-00A9, U+00AB-00AC, U+00AE-00B9,
        U+00BB-0123, U+0126-012B, U+012E-0131, U+0134-0137, U+0139-0148,
        U+014A-014D, U+0150-016B, U+016E-017E, U+0192, U+01FA-01FF,
        U+0218-021B, U+0237, U+02C6-02C7, U+02D8-02DD, U+0300-0304,
        U+0306-0308, U+030A-030C, U+0312, U+0326-0327, U+0335, U+0337-0338,
        U+03A9, U+03C0, U+1E80-1E85, U+1EF2-1EF3, U+2013-2014, U+2018-201A,
        U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032, U+2039-203A, U+2042,
        U+2044, U+2070, U+2074-2079, U+2080-2089, U+20AC, U+2116-2117, U+2122,
        U+212E, U+215B-215E, U+2190-2199, U+2202, U+2205-2206, U+220F,
        U+2211-2212, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265,
        U+25A0-25A1, U+25B2-25B3, U+25CA-25CB, U+25CF, U+262E, U+2713, U+F8FF,
        U+FB00-FB04;
}

@font-face {
    font-family: "Satoshi";
    src: url("Satoshi-VariableItalic.woff2");
    font-style: italic;
    font-weight: 300 900;
    unicode-range: U+0020-007E, U+00A1-00A9, U+00AB-00AC, U+00AE-00B9,
        U+00BB-0123, U+0126-012B, U+012E-0131, U+0134-0137, U+0139-0148,
        U+014A-014D, U+0150-016B, U+016E-017E, U+0192, U+01FA-01FF,
        U+0218-021B, U+0237, U+02C6-02C7, U+02D8-02DD, U+0300-0304,
        U+0306-0308, U+030A-030C, U+0312, U+0326-0327, U+0335, U+0337-0338,
        U+03A9, U+03C0, U+1E80-1E85, U+1EF2-1EF3, U+2013-2014, U+2018-201A,
        U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032, U+2039-203A, U+2042,
        U+2044, U+2070, U+2074-2079, U+2080-2089, U+20AC, U+2116-2117, U+2122,
        U+212E, U+215B-215E, U+2190-2199, U+2202, U+2205-2206, U+220F,
        U+2211-2212, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265,
        U+25A0-25A1, U+25B2-25B3, U+25CA-25CB, U+25CF, U+262E, U+2713, U+F8FF,
        U+FB00-FB04;
}